/* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}

.skin .navbar {
  color: #fff;
  background-color: #1aa2f1;
}

.sn-bg-new {
  background-image: url('https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
}