@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

body{
    font-family: 'Mitr', sans-serif;
    background-color: whitesmoke;
}

.top-up {
    height: 50px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.scroll {
    height: 800px;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    display: none;
  }